<app-header></app-header>

  <div class="container-fluid">
      <div class="card">
        <div class="card-header">
            Dashboard
        </div>
        <div class="card-body">

            <div class="row">
                <div class="col-xl-6">
                     <div class="row">
                         <!-- <div class="col-xl-3">
         
                         </div> -->
                         <div class="col-xl-12">
                             <div class="card">
         
                                 <div [chart]="chart"></div>
                             </div>
                         </div>
                     </div>
                </div>
                <div class="col-xl-4">
                 <div class="card">
                     <div [chart]="monthlyChart"></div>
                     
                 </div>
                </div>
                <div class="col-xl-2">
                    <div class="card">
                        <div class="card-header">
                                Amount
                           
                        </div>
                        <div class="card-header">
                                    To give
                                    <div class="float-right">500</div>
                               
                        </div>
                        <div class="card-header">
                            To receive
                            <div class="float-right">500</div>
                </div>
                        
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-xl-4">
                    <div class="card">
                        <div [chart]="pieChart"></div>
                    </div>
         
                </div>
                <div class="col-xl-4">
                 <div class="card">
                 <table class="table">
                     <thead>
                       <tr>
                         <th scope="col">#</th>
                         <th scope="col">First</th>
                         <th scope="col">Last</th>
                         <th scope="col">Handle</th>
                       </tr>
                     </thead>
                     <tbody>
                       <tr>
                         <th scope="row">1</th>
                         <td>Mark</td>
                         <td>Otto</td>
                         <td>@mdo</td>
                       </tr>
                       <tr>
                         <th scope="row">2</th>
                         <td>Jacob</td>
                         <td>Thornton</td>
                         <td>@fat</td>
                       </tr>
                       <tr>
                         <th scope="row">3</th>
                         <td>Larry</td>
                         <td>the Bird</td>
                         <td>@twitter</td>
                       </tr>
                     </tbody>
                   </table>
                </div>
                </div>
         
                <div class="col-xl-4">
                 <div class="card">
                 <table class="table">
                     <thead>
                       <tr>
                         <th scope="col">#</th>
                         <th scope="col">First</th>
                         <th scope="col">Last</th>
                         <th scope="col">Handle</th>
                       </tr>
                     </thead>
                     <tbody>
                       <tr>
                         <th scope="row">1</th>
                         <td>Mark</td>
                         <td>Otto</td>
                         <td>@mdo</td>
                       </tr>
                       <tr>
                         <th scope="row">2</th>
                         <td>Jacob</td>
                         <td>Thornton</td>
                         <td>@fat</td>
                       </tr>
                       <tr>
                         <th scope="row">3</th>
                         <td>Larry</td>
                         <td>the Bird</td>
                         <td>@twitter</td>
                       </tr>
                     </tbody>
                   </table>
                   </div>
         
                </div>
            </div>
        </div>
      </div>
  </div>
<app-footer></app-footer>