.p-component, .p-component * {
    box-sizing: border-box;
    width : 100% !important
}

p-autocomplete {
    display:block !important;
    
    width : 100% !important
}

:host ::ng-deep .p-autocomplete {
      display:block !important;

    
    width : 100% !important
  }

  :host ::ng-deep   .p-autocomplete-input{
    width : 100% !important;
    display: block;
    height: calc(1.5em + 0.75rem + 2px);
  }