<app-header></app-header>
<!-- ViewOnly Profile Page -->
<div class="container-fluid" *ngIf="isViewOnly">
    <div class="card">
        <div class="card-header">
            Profile
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-xl-3">
                    <img [src]="imageUrl+userData.LogoPath" id="userImage" name="userImage"  class="image" width="200" height="200" />
                </div>
                <div class="col-xl-3">
                    <label>Logo</label>
                    <input type="file" (change)="uploadImage($event,'logo')" class="form-control-file" />
                </div>
                <div class="col-xl-3">
                    <img [src]="imageUrl+userData.SignaturePath" class="image "  id="SignaturePath" name="SignaturePath"  width="200" height="200" />
                </div>
                <div class="col-xl-3">
                    <label>Signature</label>
                    <input type="file" (change)="uploadImage($event,'signature')" class="form-control-file" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Username</label>
                        <input type="text" [(ngModel)]="userData.UserName" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" [(ngModel)]="userData.Password" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>CompanyName</label>
                        <input type="text" [(ngModel)]="userData.CompanyName" class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Phone Number</label>
                        <input type="text" [(ngModel)]="userData.MobileNumber" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input type="email" [(ngModel)]="userData.Email" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>GST Number</label>
                        <input type="text" [(ngModel)]="userData.GSTNumber" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                        <textarea class="form-control" [(ngModel)]="userData.Address" rows="3"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-right">
            <div class="btn btn-group ">
                <button class="btn btn-secondary mr-2" >
                    Back
                </button>
                <button class="btn btn-success mr-2" (click)="saveChanges()" >
                    Save
                </button>
            </div>
        </div>
        <!-- <div class="container-fluid my-5" *ngIf="isViewOnly">
            <div class="float-left">
                <img [src]="imageUrl" *ngIf="imageUrl" class="image" width="200" height="200" />
            </div>
            <br>
            <div class="text-center" *ngIf="isViewOnly">
                <button class="btn btn-primary" (click)="toggleView()">Edit Profile</button>
            </div>
        </div> -->
    </div>
</div>

<app-footer></app-footer>