<app-header></app-header>
<div class="container-fluid">
    <div class="card" *ngIf="pageType == 'main'">
        <div class="card-header">
            <nav id="navbar" class="navbar float-left">
                <ul>
                    <li><a [ngClass]="{ 'active': tableType == 'Purchases' }"
                            (click)="tableType = 'Purchases'">Purchases</a></li>
                    <li><a [ngClass]="{ 'active': tableType == 'Inventory' }"
                            (click)="tableType = 'Inventory'">Inventory</a></li>
                </ul>
            </nav>

            <div class="float-right">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="search-hero">
                            <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="&#61442;  Search">
                          </div>
                    </div>
                    <div class="col-xl-6">
                        <button class="btn btn-primary" (click)="pageType = 'create';resetForm()">
                            Add Purchase
                        </button>
                    </div>
                </div>
               
              
            </div>
        </div>
        <div class="card-body">
            <div class="row">
              
            <table class="table" *ngIf="tableType == 'Purchases'">
                <thead>
                    <tr>
                        <th scope="col">S.no</th>
                        <th scope="col">Invoice Number</th>
                        <th scope="col">Customer Name</th>
                        <th scope="col">Retailer Name</th>
                        <th scope="col">Mobile Number</th>
                        <th scope="col">Email Id</th>
                        <th scope="col">GST Number</th>
                        <th scope="col">Date Of Purchase</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of inventoryDetails | filter:searchText; let i = index; let first = first ; let last = last  ">
                        <td scope="col">{{i+1}}</td>
                        <td scope="col">{{data.InvoiceNumber}}</td>
                        <td scope="col">{{data.CustomerName}}</td>
                        <td scope="col">{{data.RetailerName}}</td>
                        <td scope="col">{{data.MobileNumber}}</td>
                        <td scope="col">{{data.Email}}</td>
                        <td scope="col">{{data.GSTNumber}}</td>
                        <td scope="col">{{data.DateOfPurchase | date}}</td>
                        <td scope="col">
                            <div class="d-flex">
                                <div class="p-2">

                                    <i class="fa fa-trash" aria-hidden="true"></i>

                                </div>
                                <div class="p-2" (click)="pageType = 'edit';editPageData(data)">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                </div>

                            </div>

                        </td>
                    </tr>
                </tbody>
            </table>





            <table class="table" *ngIf="tableType == 'Inventory'">
                <thead>
                    <tr>
                        <th scope="col">S.no</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Current Quantity</th>
                        <th scope="col">Cost Price</th>
                        <th scope="col">Selling Price</th>
                        <th scope="col">Discount(%)</th>
                        <th scope="col">Date Of Purchase</th>
                        <th scope="col">Warranty (Months)</th>
                        <th scope="col">GST(%)</th>
                        <!-- <th scope="col">Action</th> -->
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let data of inventoryData; let i = index; let first = first ; let last = last">
                        <td scope="col">{{i+1}}</td>
                        <td scope="col">{{data.ProductName}}</td>
                        <td scope="col">{{data.Quantity}}</td>
                        <td scope="col">{{data.CurrentQuantity}}</td>
                        <td scope="col">{{data.CostPrice}}</td>
                        <td scope="col">{{data.SellingPrice}}</td>
                        <td scope="col">{{data.Discount}}</td>
                        <td scope="col">{{data.DateOfPurchase}}</td>
                        <td scope="col">{{data.Warranty}}</td>
                        <td scope="col">{{data.Tax}}</td>
                        <!-- <td  scope="col">
                            <div class="d-flex">
                                <div class="p-2">

                                    <i class="fa fa-trash" aria-hidden="true"></i>

                                </div>
                                <div class="p-2" (click)="pageType = 'edit'">
                                    <i class="fa fa-pencil-square" aria-hidden="true"></i>


                                </div>
    
                            </div>

                        </td> -->
                    </tr>
                </tbody>
            </table>
            </div>
        </div>

    </div>








    <div class="card" *ngIf="pageType == 'create'">
        <div class="card-header">
            Add Purchase
        </div>
        <div class="card-body">
            <div class="customerDetails  border-bottom">
                <div class="row mb-4">
                    <div class="col-xl-9 border-right">
                        <div class="row">
                            <div class="col-xl-4 d-block">
                                <label style="width: 100%;">Customer Name</label>
                                <input id="CustomerName" class="form-control" name="CustomerName"
                                [(ngModel)]="CustomerName" [typeahead]="customerNameArr" (typeaheadOnSelect)="typeaheadOnSelect($event)"
                                > 
                            </div>
                            <div class="col-xl-4">
                                <label>Retailer Name</label>
                                <input id="bn" name="bn" type="text" class="form-control" [(ngModel)]="RetailerName">
                            </div>
                            <div class="col-xl-4">
                                <label>Gst Number</label>
                                <input id="gst" name="gst" class="form-control" [(ngModel)]="GSTNumber">
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-xl-4">
                                <label>Phone Number</label>
                                <input id="pn" name="pn" class="form-control" [(ngModel)]="MobileNumber">
                            </div>
                            <div class="col-xl-4">
                                <label>Email Id</label>
                                <input id="email" name="email" class="form-control" [(ngModel)]="Email">
                            </div>
                            <div class="col-xl-4">
                                <label>Address</label>
                                <textarea id="address" name="address" rows="3" class="form-control"
                                    [(ngModel)]="Address"></textarea>
                            </div>
                        </div>

                    </div>
                    <div class="col-xl-3">
                        <div class="row">
                            <div class="col-xl-12">
                                <label>Invoice Number</label>
                                <input id="in" name="in" class="form-control" [(ngModel)]="InvoiceNumber">
                            </div>
                            <div class="col-xl-12 mt-4">
                                <label>Invoice Date</label>
                                <input id="dt" name="dt" type="date" class="form-control" [(ngModel)]="DateOfPurchase">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="salesData">

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">S.No</th>
                            <th scope="col">Product Name</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Cost Price</th>
                            <th scope="col">SellingPrice</th>

                            <th scope="col">Discount(%)</th>
                            <th scope="col">GST(%)</th>
                            <th scope="col">Warranty(in months)</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of inventoryFormArr; let i = index; let first = first ; let last = last">
                            <td>{{i+1}}</td>
                            <td scope="col">
                                <input id="productName{{i}}" class="form-control" name="productName{{i}}"
                                [(ngModel)]="data.ProductName" [typeahead]="productsArr" (typeaheadOnSelect)="productsOnSelect($event,i)">
                                <!-- <p-autoComplete name="pn{{i}}" id="pn{{i}}" [(ngModel)]="data.ProductName"
                                    [suggestions]="filteredCountries" (completeMethod)="filterCountry($event)"
                                    field="name" [minLength]="1"></p-autoComplete> -->
                            </td>
                            <td scope="col"><input type="number" name="qua{{i}}" id="qua{{i}}" class="form-control"
                                    [(ngModel)]="data.Quantity"></td>
                            <td scope="col"><input type="number" name="pri{{i}}" id="pri{{i}}" class="form-control"
                                    [(ngModel)]="data.CostPrice"></td>
                            <td><input type="number" name="SellingPrice{{i}}" id="SellingPrice{{i}}"
                                    class="form-control" [(ngModel)]="data.SellingPrice"></td>
                            <td><input type="number" name="Discount{{i}}" id="Discount{{i}}" class="form-control"
                                    [(ngModel)]="data.Discount"></td>
                            <td><input type="number" name="Tax{{i}}" id="Tax{{i}}" class="form-control"
                                    [(ngModel)]="data.Tax"></td>
                            <td scope="col"><input type="number" name="Warranty{{i}}" id="Warranty{{i}}"
                                    class="form-control" [(ngModel)]="data.Warranty"></td>
                            <td scope="col">
                                <div class="d-flex" style="justify-content : space-between">
                                    <div class="p-2" *ngIf="inventoryFormArr.length > 1 "
                                        (click)="inventoryFormArr.splice(i,1)">

                                        <i class="fa fa-minus-circle" aria-hidden="true"></i>
                                    </div>
                                    <div class="p-2" *ngIf="last" (click)="addInventoryForm()">
                                        <i class="fa fa-plus-circle" aria-hidden="true"></i>

                                    </div>

                                </div>

                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>


        </div>
        <div class="card-footer text-right">
            <div class="btn btn-group ">
                <button class="btn btn-secondary mr-2" (click)="this.pageType = 'main'">
                    Cancel
                </button>
                <button class="btn btn-success" (click)="submitInventory()">
                    Submit
                </button>
            </div>
        </div>
    </div>


    <div class="card" *ngIf="pageType == 'edit'">
        <div class="card-header">
            View Purchases
        </div>
        <div class="card-body">
            <div class="customerDetails  border-bottom">
                <div class="row mb-4">
                    <div class="col-xl-9 border-right">
                        <div class="row">
                            <div class="col-xl-4 d-block">
                                <label>Customer Name</label>
                                <input id="cn" name="cn" type="text" class="form-control" [(ngModel)]="CustomerName">
                            </div>
                            <div class="col-xl-4">
                                <label>Business Name</label>
                                <input id="bn" name="bn" type="text" class="form-control" [(ngModel)]="RetailerName">
                            </div>
                            <div class="col-xl-4">
                                <label>Gst Number</label>
                                <input id="gst" name="gst" class="form-control" [(ngModel)]="GSTNumber">
                            </div>
                        </div>

                        <div class="row mt-3">
                            <div class="col-xl-4">
                                <label>Phone Number</label>
                                <input id="pn" name="pn" class="form-control" [(ngModel)]="MobileNumber">
                            </div>
                            <div class="col-xl-4">
                                <label>Email Id</label>
                                <input id="email" name="email" class="form-control" [(ngModel)]="Email">
                            </div>
                            <div class="col-xl-4">
                                <label>Address</label>

                                <textarea id="address" name="address" rows="3" class="form-control"
                                    [(ngModel)]="Address"></textarea>
                            </div>
                        </div>

                    </div>
                    <div class="col-xl-3">
                        <div class="row">
                            <div class="col-xl-12">
                                <label>Invoice Number</label>
                                <input id="in" name="in" class="form-control" [(ngModel)]="InvoiceNumber">
                            </div>
                            <div class="col-xl-12 mt-4">
                                <label>Invoice Date</label>
                                <input id="dt" name="dt" type="date" class="form-control" [(ngModel)]="DateOfPurchase">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="salesData">

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col"  class="text-center">S.No</th>
                            <th scope="col"  class="text-center">Product Name</th>
                            <th scope="col"  class="text-center">Quantity</th>
                            <th scope="col"  class="text-center">Cost Price</th>
                            <th scope="col"  class="text-center">SellingPrice</th>

                            <th scope="col"  class="text-center">Discount(%)</th>
                            <th scope="col"  class="text-center">GST(%)</th>
                            <th scope="col"  class="text-center">Warranty(in months)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of editPageArr; let i = index; let first = first ; let last = last">
                            <td  class="text-center">{{i+1}}</td>
                            <td scope="col" class="text-center">{{data.ProductName}}
                                
                            </td>
                            <td scope="col"  class="text-center"> {{data.Quantity}}</td>
                            <td scope="col"  class="text-center">{{data.CostPrice}}</td>
                            <td scope="col"  class="text-center">{{data.SellingPrice}}</td>
                            <td scope="col"  class="text-center">{{data.Discount}}</td>
                            <td scope="col"  class="text-center">{{data.Tax}}</td>
                            <td scope="col"  class="text-center">{{data.Warranty}}</td>
                        </tr>

                    </tbody>
                    <tfoot *ngIf="editPageArr.length">
                        <tr>
                            <td colspan="8" >Total Purchased Amount : {{totalCostPrice}}</td>
                        </tr>
                    </tfoot>
                </table>
            </div>


        </div>
        <div class="card-footer text-right">
            <div class="btn btn-group ">
                <button class="btn btn-secondary mr-2" (click)="this.pageType = 'main'">
                    Back
                </button>
            </div>
        </div>
    </div>


</div>


<app-footer></app-footer>